{% extends "base_generic.html" %}

{% block content %}
<div class="p-2">
    <h2>All Vouches (Admin Only)</h2>
    {% if vouch_list %}
        {% for vouch in vouch_list %}
        <div class="card p-2 mb-2">
            <h4 class="card-title">Vouch #{{ vouch.id }} | Rated by: {{ vouch.submitted_by }} | {{ vouch.dorm }}</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">Rating: {{ vouch.rating }}</h6>
            <p class="card-text">{{ vouch.review }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No vouches.</p>
    {% endif %}
</div>
{% endblock %}